.login-design-signup {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-design-signup .login-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-design-signup .login-input .input-text {
    max-width: 300px;
    width: 100%;
    border-radius:18px;
    padding: 10px;
    margin: auto;
    border: 1px solid #b2b2b2;
    font-size: 15px;
    outline: none;

}

.login-design-signup .login-input button{
    width: 150px;
    font-size: 15px;
    margin: auto;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #ADD8E6;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.login-design-signup .login-input button:hover{
    background-color: #88d6f0;
}



